doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= anime.name
        link(rel="stylesheet", href="/anime.css")
    body 
        header 
            strong 
                p A Knee Man 
            a(href="/profile") Профиль
            a(href="/catalogue") Каталог  
        main
            div(id="meta")
                img(src=anime.imageUrl) 
                div 
                    h1= anime.name 
                    div(id="description")
                        h3 Описание 
                        p= anime.description 

                    div(id="buttons")
                        form(action="/catalogue/" + animeID + "/like", method="post") 
                            input(type="submit", value="Нравится")

                        form(action="/catalogue/" + animeID + "/planning", method="post") 
                            input(type="submit", value="Планирую посмотреть")

            ul 
                each val in anime.episodes 
                    li 
                        a(href="/catalogue/" + animeID + "/" + val._id)= val.season + " Сезон\n" + val.number + " Серия"